#pedir{
    background-color: #8ab933;
}
#parallax-informative{
    background-image: url("assets/site/images/parallax.jpg");
}
.parallax .citizens{
    color: #3498db;
}
.parallax .businessman{
    color: #e74c3c;
}
.parallax .all-requests{
    color: #16a085;
}
.parallax .open-requests{
    color: #9b59b6;
}

#footer .copyright{
    background-color: #F38F20;
    color:#000000;
}
#footer .copyright a, #footer ul.inline-links > li + li::before{
    color:#000000;
}